<!-- tabs/tabs.page.html -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="local">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Local</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="streaming">
      <ion-icon name="cloud"></ion-icon>
      <ion-label>Streaming</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="playlists">
      <ion-icon name="list"></ion-icon>
      <ion-label>Playlists</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>