<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="streaming">
      <ion-icon name="radio-outline"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="local">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>My Music</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="playlists">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Playlists</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>